<!DOCTYPE html>
<html>
<head>
    <title>Login</title>
</head>
<body>

    <h1>Login</h1>

    <form method="POST">
        {% csrf_token %}

        <label>Email:</label>
        <input type="email" name="email">

        {% if errors.email %}
            <span style="color: red;">{{ errors.email }}</span>
        {% endif %}

        <br><br>

        <label>Password:</label>
        <input type="password" name="password">

        {% if errors.password %}
            <span style="color: red;">{{ errors.password }}</span>
        {% endif %}

        <br><br>

        <button type="submit">Login</button>

    </form>

</body>
</html>